[Unit]
Description=Laravel Queue Worker
After=network.target mysql.service redis.service

[Service]
User=www-data
Group=www-data
Restart=always
ExecStart=/usr/bin/php /var/www/miftah-sso/artisan queue:work --sleep=3 --tries=3 --max-time=3600 --timeout=60 --memory=256
RestartSec=30
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target