[Unit]
Description=Laravel Queue Worker
After=network.target

[Service]
User=www-data
Group=www-data
Restart=always
ExecStart=/usr/bin/php /workspaces/miftah-sso/miftah-sso/artisan queue:work --tries=3

[Install]
WantedBy=multi-user.target